<template>
  <svg
    width="17"
    height="10"
    viewBox="0 0 17 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1.76986 0.339043C2.16116 0.137639 2.63813 0.215726 2.94478 0.531393L7.78272 5.51162C8.17546 5.91591 8.82454 5.91591 9.21728 5.51162L14.0552 0.531394C14.3619 0.215727 14.8388 0.137639 15.2301 0.339043L15.7998 0.632269C16.397 0.939611 16.5274 1.73648 16.0595 2.21819L9.21728 9.26163C8.82454 9.66591 8.17546 9.66591 7.78272 9.26162L0.940527 2.21819C0.47258 1.73648 0.603039 0.939611 1.20016 0.632269L1.76986 0.339043Z"
      fill="gray"
    />
  </svg>
</template>
