<template>
  <svg
    width="10"
    height="10"
    viewBox="0 0 10 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M5 10C3.61458 10 2.435 9.59649 1.46125 8.78947C0.487083 7.98246 0 7.00439 0 5.85526C0 5.27632 0.130208 4.73895 0.390625 4.24316C0.651042 3.74772 1.01042 3.30702 1.46875 2.92105L5 0L8.53125 2.92105C8.98958 3.30702 9.34896 3.74772 9.60938 4.24316C9.86979 4.73895 10 5.27632 10 5.85526C10 7.00439 9.51313 7.98246 8.53938 8.78947C7.56521 9.59649 6.38542 10 5 10ZM5 1.47368L2.34375 3.68421C1.97917 3.97368 1.70583 4.30263 1.52375 4.67105C1.34125 5.03947 1.25 5.43421 1.25 5.85526C1.25 6.70614 1.61458 7.43421 2.34375 8.03947C3.07292 8.64474 3.95833 8.94737 5 8.94737C6.04167 8.94737 6.92708 8.64474 7.65625 8.03947C8.38542 7.43421 8.75 6.70614 8.75 5.85526C8.75 5.43421 8.65875 5.03947 8.47625 4.67105C8.29417 4.30263 8.02083 3.97368 7.65625 3.68421L5 1.47368Z"
      fill="gray"
    />
  </svg>
</template>
