<template>
  <svg
    width="10"
    height="10"
    viewBox="0 0 10 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M5.41667 5C5.41667 5.30556 5.22917 5.55556 5 5.55556C4.77083 5.55556 4.58333 5.30556 4.58333 5C4.58333 4.69444 4.77083 4.44444 5 4.44444C5.22917 4.44444 5.41667 4.69444 5.41667 5ZM4.16667 5L2.91667 3.33333V4.44444H1.25V5.55556H2.91667V6.66667L4.16667 5ZM5.83333 5L7.08333 6.66667V5.55556H8.75V4.44444H7.08333V3.33333L5.83333 5ZM8.54167 0.277778L8.09167 0.877778C8.88333 1.94444 9.375 3.39444 9.375 5C9.375 6.61111 8.88333 8.05556 8.09167 9.12222L8.54167 9.72222C9.44167 8.50556 10 6.83889 10 5C10 3.16111 9.44167 1.49444 8.54167 0.277778ZM2.37083 3.33333C2.8375 2.02222 3.84167 1.11111 5 1.11111C6.15833 1.11111 7.1625 2.02222 7.63333 3.33333H8.54167C8.01667 1.38889 6.63333 0 5 0C3.36667 0 1.98333 1.38889 1.45833 3.33333H2.37083ZM1.90833 0.877778L1.45833 0.277778C0.558333 1.49444 0 3.16111 0 5C0 6.83889 0.558333 8.50556 1.45833 9.72222L1.90833 9.12222C1.11667 8.05556 0.625 6.61111 0.625 5C0.625 3.39444 1.11667 1.94444 1.90833 0.877778ZM7.63333 6.66667C7.1625 7.97778 6.1625 8.88889 5 8.88889C3.8375 8.88889 2.8375 7.97778 2.37083 6.66667H1.45833C1.98333 8.61111 3.36667 10 5 10C6.63333 10 8.01667 8.61111 8.54167 6.66667H7.63333Z"
      fill="gray"
    />
  </svg>
</template>
