<template>
  <svg
    width="16"
    height="24"
    viewBox="0 0 9 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M5 10.0906V6.5C5 6.22656 4.77344 6 4.5 6C4.22656 6 4.02812 6.22656 4.02812 6.5L4 10.0906C3.41812 10.2977 3 10.8484 3 11.5009C3 12.3291 3.67188 13.0009 4.5 13.0009C5.32812 13.0009 6 12.3291 6 11.5009C6 10.8469 5.58125 10.2969 5 10.0906ZM8 8.70312V3.5C8 1.56656 6.43375 0 4.52812 0C2.6225 0 1 1.56656 1 3.5V8.70312C0.382812 9.47656 0 10.4375 0 11.5C0 13.9844 2.01562 15.9719 4.5 15.9719C6.98438 15.9719 9 13.9844 9 11.5C9 10.4375 8.61875 9.47188 8 8.70312ZM4.5 14C3.12094 14 2 12.8791 2 11.5281C2 10.7312 2.38281 10.0006 3 9.53594V3.52656C3 2.69844 3.67188 2.02656 4.5 2.02656C5.32812 2.02656 6 2.69844 6 3.52656V9.53594C6.61719 9.99687 7 10.7312 7 11.5281C7 12.8781 5.87813 14 4.5 14Z"
      fill="black"
    />
  </svg>
</template>
