<template>
  <svg
    width="17"
    height="10"
    viewBox="0 0 17 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M15.2301 9.66096C14.8388 9.86236 14.3619 9.78427 14.0552 9.46861L9.21728 4.48838C8.82454 4.08409 8.17546 4.08409 7.78272 4.48838L2.94478 9.46861C2.63813 9.78427 2.16116 9.86236 1.76986 9.66096L1.20016 9.36773C0.60304 9.06039 0.472582 8.26352 0.940528 7.78181L7.78272 0.738375C8.17546 0.334089 8.82454 0.33409 9.21728 0.738376L16.0595 7.78181C16.5274 8.26352 16.397 9.06039 15.7998 9.36773L15.2301 9.66096Z"
      fill="gray"
    />
  </svg>
</template>
