<template>
  <svg
    width="12"
    height="12"
    viewBox="0 0 12 12"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M8.87598 3.31243C9.02281 3.13628 9.2019 3.00737 9.39773 2.93687C9.59356 2.86638 9.80023 2.85641 9.99985 2.90785C10.1995 2.95928 10.386 3.07056 10.5433 3.23205C10.7007 3.39354 10.824 3.60038 10.9027 3.83465C10.9814 4.06892 11.0131 4.32356 10.9951 4.57653C10.977 4.8295 10.9097 5.07317 10.799 5.28643C10.6883 5.4997 10.5376 5.67614 10.3599 5.80048C10.1821 5.92482 9.98273 5.9933 9.77896 6H1M4.81258 1.37489C4.9288 1.2272 5.07262 1.11775 5.23115 1.05635C5.38967 0.994949 5.55795 0.983518 5.7209 1.02308C5.88384 1.06264 6.03636 1.15196 6.16478 1.28303C6.2932 1.4141 6.39351 1.58283 6.45672 1.77408C6.51993 1.96534 6.54406 2.17314 6.52695 2.37887C6.50984 2.58461 6.45202 2.78183 6.35868 2.95288C6.26534 3.12392 6.13939 3.26343 5.99213 3.35891C5.84486 3.45439 5.68089 3.50284 5.51489 3.49994H1M6.31754 10.6251C6.43376 10.7728 6.57758 10.8823 6.73611 10.9437C6.89464 11.0051 7.06291 11.0165 7.22586 10.9769C7.3888 10.9374 7.54132 10.848 7.66975 10.717C7.79817 10.5859 7.89848 10.4172 7.96169 10.2259C8.02489 10.0347 8.04902 9.82686 8.03191 9.62113C8.0148 9.4154 7.95699 9.21817 7.86364 9.04713C7.7703 8.87608 7.64436 8.73657 7.49709 8.64109C7.34983 8.54561 7.18585 8.49716 7.01986 8.50006H1"
      stroke="gray"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>
