<template>
  <div
    class="w-full flex items-center justify-center bg-gray-1 lg:h-screen h-full"
  >
    <div v-if="!gettingAllData" class="z-10 w-full">
      <transition name="fade" mode="out-in" appear>
        <search-input />
      </transition>
      <transition name="fade" mode="out-in" appear>
        <all-weather-info v-if="!ErrorMessage" />
        <div v-else class="flex w-full justify-center">
        <div
          class="z-10  flex justify-center text-gray-1 bg-white capitalize rounded-md max-w-2xl p-10 font-semibold text-3xl"
        >
          {{ ErrorMessage }}
        </div>
        </div>
      </transition>
    </div>
    <div
      v-else
      class="z-10 text-gray-1 bg-white rounded-md max-w-2xl p-10 font-semibold text-3xl"
    >
      {{ ErrorMessage }}
    </div>
    <animations />
  </div>
</template>

<script>
import getWeatherData from '@/mixins/getWeatherData.js'

import { mapGetters } from 'vuex'
// @ is an alias to /src
export default {
  name: 'Home',
  mixins: [getWeatherData],
  data () {
    return {
      isLoading: false
    }
  },
  components: {
    Animations: () => import('@/components/Animations.vue'),
    AllWeatherInfo: () => import('@/components/AllWeatherInfo.vue'),
    SearchInput: () => import('@/components/SearchInput.vue')
  },
  computed: {
    ...mapGetters({
      gettingAllData: 'weather/isGettingAllData',
      ErrorMessage: 'weather/errorPage'
    })
  },
  mounted () {
    this.getLocation()
  }
}
</script>
<style>
.fade-enter-active,
.fade-leave-active {
  transition: all 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: scale(0.5);
}
</style>
