<template>
  <div class="w-full flex justify-center px-4 lg:px-0">
    <div class="lg:max-w-5xl h-full w-full">
      <div
        class="w-full h-full grid lg:gap-4 gap-2 lg:grid-cols-12 grid-cols-1"
      >
        <div
          class="lg:col-span-6 text-black bg-white rounded-lg lg:px-8 px-4 flex justify-between"
        >
          <div class="flex flex-col justify-around">
            <div class="pb-4">
              <div
                class="weather-icon -ml-4"
                :style="[
                  currentWeatherInfo.icon
                    ? {
                        'background-image':
                          'url(http://openweathermap.org/img/wn/' +
                          currentWeatherInfo.icon +
                          'd@2x.png)',
                      }
                    : {},
                ]"
              ></div>
              <div class="text-sm capitalize font-medium">
                {{ currentWeatherInfo.description }}
              </div>
            </div>
            <div class="temperature py-3 flex items-center">
              <div class="pr-2"><temperature-icon /></div>
              <div class="text-sm">
                {{ weatherInfo.tempMin }}° {{ weatherInfo.tempMax }}°
              </div>
            </div>
            <div class="temp-2 py-4 flex items-baseline">
              <div class="degree font-semibold text-3xl pr-2">
                {{ currentWeatherInfo.temp }}°
              </div>
              <div class="text-base font-medium">
                {{ weatherInfo.name }} {{ weatherInfo.country || "" }}
              </div>
            </div>
          </div>
          <div class="flex flex-col items-end justify-between py-5">
            <div
              @click="moreWeatherDetails = false"
              class="cursor-pointer"
              v-if="moreWeatherDetails"
            >
              <down-icon />
            </div>
            <div
              class="cursor-pointer"
              @click="moreWeatherDetails = true"
              v-else
            >
              <up-icon />
            </div>
            <div
              v-if="moreWeatherDetails"
              class="temperature flex items-center"
            >
              <div class="text-xs pr-2">% {{ currentWeatherInfo.wind }}</div>
              <div class="icon"><wind-icon /></div>
            </div>

            <div
              v-if="moreWeatherDetails"
              class="temperature flex items-center"
            >
              <div class="text-xs pr-2">
                {{ currentWeatherInfo.pressure }} mph
              </div>
              <div class="icon"><pressure-icon /></div>
            </div>
            <div
              v-if="moreWeatherDetails"
              class="temperature flex items-center"
            >
              <div class="text-xs pr-2">
                % {{ currentWeatherInfo.humidity }}
              </div>
              <div class="icon"><humidity-icon /></div>
            </div>

            <div class="temperature text-xs flex items-center">
              <div class="pr-2"></div>
              <div class="icon">
                {{ currentWeatherInfo.time | moment("DD, MMM YYYY, hh:mm A") }}
              </div>
            </div>
          </div>
        </div>
        <div class="lg:col-span-6 rounded-lg bg-white">
          <div class="flex mx-4 pb-1.5 items-center justify-between">
            <div class="flex font-normal text-black text-sm md:text-base">
              Previous Weather Report
            </div>
            <div style="max-width: 300px">
              <div class="">
                <q-select
                  @input="getPrevWeatherData"
                  borderless
                  v-model="selectedDay"
                  emit-value
                  map-options
                  :options="daysOptions"
                />
              </div>
            </div>
          </div>
          <div class="grid lg:mb-0 mb-4 gap-y-3 grid-cols-12">
            <div
              v-for="(day, index) in previousDaysWeatherInfo"
              :key="index"
              class="mx-4 rounded-md text-white text-10px bg-gray-2 col-span-6 lg:col-span-4"
            >
              <div class="flex p-2 flex-col">
                <div class="flex pb-4 justify-between">
                  <div class="text-white">
                    {{
                      selectedDay.value === 1
                        ? "Yesterday"
                        : (day.dt * 1000) | moment("ddd DD, MMM YY'")
                    }}
                  </div>
                  <div class="">{{ day.temp }}°</div>
                </div>
                <div class="capitalize">
                  {{ day.weather[0].description }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="lg:col-span-6 overflow-y-scroll rounded-lg">
          <div
            class="bg-white flex items-center w-full mb-2 rounded-lg"
            v-for="(day, index) in nextDaysWeatherInfo"
            :key="index"
          >
            <div
              v-if="index !== 0"
              class="flex justify-between px-4 w-full items-center"
            >
              <div class="">
                <div class="text-10px font-medium">
                  {{ day.dt | moment("dddd, Do MMMM YYYY") }}
                </div>
                <div class="font-semibold text-base">{{ day.temp.max }}°</div>
              </div>
              <div class="text-base -mt-2 capitalize font-medium">
                {{ day.weather[0].description }}
              </div>
              <div class="flex flex-col">
                <img
                  class=""
                  :alt="`${day.weather[0].main}`"
                  :src="`http://openweathermap.org/img/wn/${day.weather[0].icon}.png`"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import getWeatherData from '@/mixins/getWeatherData.js'
export default {
  name: 'AllWeatherInfo',
  mixins: [getWeatherData],
  components: {
    TemperatureIcon: () => import('@/assets/icons/TemperatureIcon.vue'),
    HumidityIcon: () => import('@/assets/icons/HumidityIcon.vue'),
    WindIcon: () => import('@/assets/icons/WindIcon.vue'),
    UpIcon: () => import('@/assets/icons/UpIcon.vue'),
    DownIcon: () => import('@/assets/icons/DownIcon.vue'),
    PressureIcon: () => import('@/assets/icons/PressureIcon.vue')
  }
}
</script>
<style>
.fade-enter-active,
.fade-leave-active {
  transition: all 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: scale(0.5);
}
.weather-icon {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: drop-shadow(1px 1px 0 fade(black, 3))
    drop-shadow(-5px -5px 0 fade(black, 8));
}
</style>
