<template>
  <div>
    <div
      v-if="!errorPage"
      :class="[
        { 'snowy-overlay': weatherData.main == 'Snow' },
        {
          'clear-overlay':
            weatherData.main == 'Clear' || weatherData.main == 'Mist',
        },
        { 'rainy-overlay': weatherData.main == 'Rain' },
        {
          'cloudy-overlay': weatherData.main === 'Clouds' || weatherData.main === 'Haze',
        },
      ]"
      class="weather-animate clear-overlay"
    ></div>
    <div v-else class="weather-animate error-overlay">
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Animations',
  computed: {
    ...mapGetters({
      weatherData: 'weather/currentWeatherInfo',
      errorPage: 'weather/errorPage'
    })
  }
}
</script>

<style lang="scss" scoped>
.weather-animate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 2s;
  background-size: cover;
  background-position: center;
}
.error-overlay {
  background-image: url("../assets/images/error page.png");
  &::after,
  &::before {
    content: "";
    background-image: url("../assets/images/fog.png");
    height: 810px;
    position: absolute;
    width: 100%;
    background-repeat: repeat-x;
  }
  &::after {
    top: -50px;
    animation: animateCloud 150s linear infinite alternate-reverse;
  }
  &::before {
    animation: animateCloud 60s linear infinite alternate;
  }
}
// clear weather
.clear-overlay {
  background-image: url("../assets/images/clear.jpg");
  &::after,
  &::before {
    content: "";
    background-image: url("../assets/images/fog.png");
    height: 810px;
    position: absolute;
    width: 100%;
    background-repeat: repeat-x;
  }
  &::after {
    top: -50px;
    animation: animateCloud 150s linear infinite alternate-reverse;
  }
  &::before {
    animation: animateCloud 60s linear infinite alternate;
  }
}

// cloudy weather
.cloudy-overlay {
  background-image: url("../assets/images/clouds.jpg");
  &::after,
  &::before {
    content: "";
    background-image: url("../assets/images/fog.png");
    height: 100vh;
    position: absolute;
    width: 100%;
    background-repeat: repeat-x;
  }
  &::after {
    top: -50px;
    animation: animateCloud 120s linear infinite alternate-reverse;
  }
  &::before {
    animation: animateCloud 60s linear infinite alternate;
  }
}
@keyframes animateCloud {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 100% 0;
  }
}

// snow weather
.snowy-overlay {
  background-image: url("../assets/images/snow.jpg");
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    animation: animateSnow 15s cubic-bezier(0.28, 0.54, 0.47, 0.56) infinite
      normal;
    background-image: url("../assets/images/snow2.png"),
      url("../assets/images/snow3.png"), url("../assets/images/snow4.png"),
      url("../assets/images/snow3.png");
  }
}
@keyframes animateSnow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 400px 1100px, 400px 400px, 600px 600px;
  }
}

// snow weather
.rainy-overlay {
  background-image: url("../assets/images/rain-bg.jpg");
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    animation: animateRain 70s cubic-bezier(0.28, 0.54, 0.47, 0.56) infinite
      normal;
    background-image: url("../assets/images/rain-1.png"),
      url("../assets/images/rain-2.png");
    opacity: 0.8;
  }
}
@keyframes animateRain {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 400px 1100px, 400px 400px, 600px 600px;
  }
}
</style>
