<template>
  <div class="flex py-3 justify-center items-center">
    <input
      class="w-64 px-3 h-10 border rounded-md"
      placeholder="Enter a location"
      v-model="searchInput"
      @keyup.enter="getWeatherData"
    />
    <q-btn
      :loading="isLoading"
      @click="getWeatherData"
      class="text-center rounded-md ml-1 text-gray-2 font-bold h-10 px-4 focus:outline-none bg-white border-2 border-blue-700"
      icon="search"
    />
  </div>
</template>

<script>
import getWeatherData from '@/mixins/getWeatherData.js'
export default {
  name: 'SearchInput',
  mixins: [getWeatherData],
  data () {
    return {
    }
  },
  computed: {
    searchInput: {
      get: function () {
        return this.$store.state.weather.searchInput
      },
      set: function (newValue) {
        this.$store.dispatch('weather/setSearch', newValue)
      }
    }
  }
}
</script>

<style lang="scss" scoped></style>
